{% extends 'base.html' %}
{% block title %}{{ headingPrefix }} Cars by Body Type{% endblock %}
{% block content %}
<h2 class="pageHeader center-block">{{ headingPrefix }} Cars by Body Type</h2>


<div class="textbox 80-percent-wide">
    <div class="keytext">Select a Body Type to see {{ instructionInsert }} of that type</div>

    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-sm-4 col-min">
                <a href="{{ path }}/sedan">Sedan</a><br/>
                <a href="{{ path }}/coupe">Coupe</a><br/>
                <a href="{{ path }}/people-mover">People Mover</a><br/>
                <a href="{{ path }}/ute">Ute</a>
            </div>
            <div class="col-sm-4 col-min">
                <a href="{{ path }}/hatchback">Hatchback</a><br/>
                <a href="{{ path }}/convertible">Convertible</a><br/>
                <a href="{{ path }}/van">Van</a><br/>
                <a href="{{ path }}/cab-chassis">Cab Chassis</a>
            </div>
            <div class="col-sm-4 col-min">
                <a href="{{ path }}/wagon">Station Wagon</a><br/>
                <a href="{{ path }}/sport">Sports</a><br/>
                <a href="{{ path }}/light-truck">Light Truck</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}