{% extends 'base.html' %}
{% block title %}Top Rating Cars by Engine Type{% endblock %}
{% block content %}
<h2 class="pageHeader center-block">Top Rating Cars by Engine Type</h2>


<div class="textbox 80-percent-wide">
    <div class="keytext">Select an Engine Type to see the Top 20 rating vehicles for that type</div>

    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-sm-4 col-min">
                <a href="/top/engine/piston">Piston</a><br/>
            </div>
            <div class="col-sm-4 col-min">
                <a href="/top/engine/hybrid">Hybrid</a><br/>
            </div>
            <div class="col-sm-4 col-min">
                <a href="/top/engine/electric">Electric</a><br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}